@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;800;900&family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,800;9..144,900&family=Poppins:wght@600;800&family=Rubik:wght@400;600;800;900&family=Sora:wght@400;600;800&family=Work+Sans:wght@400;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  
}
.links {
  display: flex;
  justify-content: end;
  position: relative;
}
a.button {
  padding: 10px 16px;
  text-align: center;
  background: #fff;
}
.links a {
  /* right: 30px; */
  margin-right: 40px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  font-family: "Barlow";
  font-size: 24px;
}
.first-part {
  background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
  height: 43rem;
  background-position: center;
}
